.box {
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 300px;
    border: 1px solid brown;
    padding: 0;
}

.dnd {
    width: 100px;
    height: 100px;
    background-color: azure;
    border: 3px dashed gray;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

/*masonry*/
.wrap {
    position: relative;
    max-width: 900px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.card {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 200px;*/
    border: 1px solid #777;
    box-sizing: border-box;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}